.radio-form input {
  opacity: 0;
  height: 0;
  width: 0;
}
.radio-form label {
  position: relative;
  display: inline-block;
  line-height: 30px;
  padding-left: 30px;
  cursor: pointer;
}
.radio-form label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 16px;
  height: 16px;
  background: linear-gradient(180deg, #FFFFFF 0%, #EBEBEB 100%);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}
/* HOVER */
.radio-form label:hover::before {
  background: linear-gradient(180deg, #eeeeee 0%, #dadada 100%);
}
/* ACTIVE (CLICK) */
.radio-form label:active::before {
  background: linear-gradient(180deg, #e4e4e4 0%, #cecece 100%);
}
/* FOCUS */
.radio-form input:focus + label::before {
  border-color: #fff;
  box-shadow: 0 0 0 2px #1D85D0;
}
/* CHECKED */
.radio-form input:checked + label::before {
  background-color: rgb(240, 239, 239);
  border-width: 1px;
}
.radio-form input:checked + label::after {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  left: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #000;
  border-radius: 50%;
}
/* DISABLED */
.radio-form input:disabled + label {
  cursor: default;
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.6;
}
.radio-form input:disabled + label::before {
  background: #F2F2F2;
}
