.nav {
  margin: 0;
  padding: 15px 30px;
  display: flex;
  width: fit-content;
  list-style: none;
  border: 3px double #000;
}
.nav li:not(:last-child)::after {
  content: '♦';
  margin-left: 10px;
  margin-right: 10px;
}
.nav li a {
  color: #000;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
.nav li a:hover {
  color: #3072C4;
}
.nav li.active a {
  color: inherit;
  font-weight: 700;
}